// General colours
$white: #ffffff;
$black: #000000;

// NHL colours
$nhlOrange: #FF6300;

// Edmonton Oilers colours
$oilersOrange: #e56b1f;
$oilersBlue: #003876;

// LA Kings colours
$kingsGrey: #9fa4ab;

// St. Louis Blues colours
$bluesBlue: #003087;
$bluesYellow: #ffc72c;
$bluesRed: #d50032;

// NY Rangers colours
$rangersBlue: #2360a5;
$rangersRed: #cf4044;

$font: "Agency FB", sans-serif;