@import '_vars';
@import 'modules/_errors';

// Hides all unwanted items
.hidden {
    display: none;
}

// Sets layout of page
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: $font;
    font-weight: bold;
    background-image: url("../images/ice_background.jpg");
}

// Positions title and team logos
#infoTop {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

// Styles and positions title
#title {
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;
    transition: 0.25s ease-out;
}

// Styles thhe logo border
#teamsBorder {
    background-color: $white;
    padding: 10px;
    border: 10px solid $black;
    border-radius: 35px;
    transition: 0.25s ease-out;
}

// Positions the teams
#teams {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 10px solid $black;
    border-radius: 25px;
    padding: 10px;
    transition: 0.25s ease-out;
}

// Aligns logos
#teamsFirst, #teamsSecond {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// Sizes and styles the logos
.teamLogo {
    width: 60px;
    margin: 5px;
    opacity: 0.5;
    transition: 0.25s ease-out;
}

// Sets hover effects on logos
.teamLogo:hover {
    cursor: pointer;
    opacity: 0.7;
}

// Sets opacity of selected logo to 1
.selected {
    opacity: 1;
}

// Keeps selected logo opacity at 1
.selected:hover {
    opacity: 1;
}

// Sizes and positions team name
#teamName {
    font-size: 30pt;
    margin-top: 20px;
}

// Sizes and positions years active
#yearsActive {
    font-size: 20pt;
    margin-top: 10px;
}

// Positions and sizes stats
#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 20px;
    font-size: 15pt;
    min-width: 250px;
}

// Adds space between stats
#stats p {
    margin-bottom: 5px;
}

// Positions stats on each side
#statsLeft, #statsRight {
    display: flex;
    flex-direction: row;
}

// Adds space between labels and values
#labelsLeft, #labelsRight {
    margin-right: 10px;
}

// Fades stats in
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 100; }
}

#info.animate {
    animation: fadeIn;
    animation-duration: 1s;
}


// Line Colourizers

// NHL
.team1Inner {
    background-color: $black !important;
    border: 10px solid $white !important;
}

.team1Outer {
    background-color: $nhlOrange !important;
    border: 10px solid $black !important;
}

// Oilers
.team2Inner {
    background-color: $oilersBlue !important;
    border: 10px solid $white !important;
}

.team2Outer {
    background-color: $oilersOrange !important;
    border: 10px solid $oilersBlue !important;
}

// Kings
.team3Inner {
    background-color: $black !important;
    border: 10px solid $white !important;
}

.team3Outer {
    background-color: $kingsGrey !important;
    border: 10px solid $black !important;
}

// Blues
.team4Inner {
    background-color: $bluesBlue !important;
    border: 10px solid $bluesYellow !important;
}

.team4Outer {
    background-color: $bluesRed !important;
    border: 10px solid $bluesBlue !important;
}

// Rangers
.team5Inner {
    background-color: $rangersBlue !important;
    border: 10px solid $white !important;
}

.team5Outer {
    background-color: $rangersRed !important;
    border: 10px solid $rangersBlue !important;
}






@media screen and (min-width: 500px) {
    // Positions the teams
    #teams {
        flex-direction: row;
    }
    
    // Sizes and styles the logos
    .teamLogo {
        width: 100%;
        max-width: 150px;
        margin: 10px;
    }

    #teamName {
        font-size: 50pt;
    }

    #stats {
        font-size: 20pt;
        min-width: 400px;
    }
}