<div id="info">
    <div id="teamName"></div>

    <div id="yearsActive"></div>

    <div id="stats">
        <div id="statsLeft">
            <div id="labelsLeft"></div>
            <div id="valuesLeft"></div>
        </div>

        <div id="statsRight">
            <div id="labelsRight"></div>
            <div id="valuesRight"></div>
        </div>
    </div>
</div>